body {
    background-color: #1E2025;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .fullscreen-overlay {
    position: fixed; /* Use fixed to cover the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    z-index: 999; /* Ensure it's above other content */
    opacity: 0; /* Start fully transparent */
    pointer-events: none; /* Prevents interaction with the overlay */
    visibility: hidden; /* Initially not visible */
    transition: opacity 0.5s ease, visibility 0.5s; /* Smooth transition for opacity and visibility */
  }
  
  #title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: normal;
  }
  
  #countdown {
    display: inline-block;
    background-color: #575757;
    color: #e8ecf5;
    padding: 8px 24px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  
  .image-wrapper {
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 1000; /* Higher than the overlay */
  }
  
  .image-wrapper img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    transition: transform 0.6s ease;
  }
  
  .image-wrapper:hover img {
    transform: scale(1.15) translateY(-10px);
  }
  
  .image-wrapper p {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .conclusion-container {
    text-align: center;
    margin-top: 40px;
  }

  .conclusion-container h2 {
    margin-bottom: 20px;
  }
  
  .conclusion-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #1E2025;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .conclusion-container img {
    max-width: 80%;
    max-height: 80vh;
    object-fit: contain;
  }
  
  .conclusion-container p {
    margin-top: 10px;
    font-size: 18px;
  }

  .name-input-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .name-input-container h1 {
    margin-bottom: 20px;
  }
  
  .name-input-container input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .name-input-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #1E2025;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }